/* estilos generales */


p {
  color: #000;
  font-size: 20px;
  margin: 50px;
  
}

h2 {
  color: #000;
  font-size: 35px;
  text-align: center;
  margin-top: 100px;
}

h3 {
  font-size: 14px;
}

h4 {
  color: #000;
  font-size: 25px;
  margin-left: 50px;
  margin-bottom: 50px;

}

/* Contenedor del header */

header {
  background-color: rgba(240, 248, 18, 0.7);
  /* Fondo amarillo */
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

/* Contenedor del logo */

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

/* Menú de navegación */

.navegador nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;

}

/* Lista de elementos del menú */

nav ul.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 150px;
}

/* Espaciado entre los elementos del menú */

nav ul.nav-links li {
  margin-left: 30px;
}

/* Estilo de los enlaces del menú */

nav ul.nav-links li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 10px 15px;
}

/* Efecto hover en los enlaces */

nav ul.nav-links li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Mostrar barra de navegación estándar en escritorio */

.desktop-nav {
  display: flex;
}

.mobile-nav {
  display: none;
}

#carouselExampleIndicators {
  position: relative;
  z-index: 1;
}


body {
  overflow-x: hidden;
}

footer {
  width: 100%
}

.Titulo-principal {
  position: absolute;
  top: 300px;
  color: white;
  font-size: 40px;
  margin-bottom: 15px;
  margin-left: 80px;
}

.mi-imagen {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.texto-home {
  position: absolute;
  top: 400px;
  color: white;
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
  width: 400px;
  margin-left: 92px;
  margin-bottom: 15px;
  padding: 20px;
}


.mi-boton {
  background-color: #f0f812;
  border-color: #f0f812;
  font-size: 24px;
  padding: 10px;
  border-radius: 20px;
  height: 60px;
  width: 260px;
  margin-left: 150px;
  top: 750px;
  position: absolute;
  cursor: pointer;
  color: black;
}

.mi-boton:hover {
  background-color: #b0b608;
  border-color: #b0b608;

}

.Titulo-principal,
.texto-home,
.mi-boton {
  position: absolute;

}

/* Contenedor de las cards */

.contenedor-cards {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
  padding: 20px;
}

/* Estilo general para todas las cards */

.card {
  justify-content: space-around;
  width: 350px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 30px;

}

/* Título de la card */

.titulo-card {
  font-size: 24px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* Lista dentro de la card */

.lista-card {
  font-size: 16px;
  margin-bottom: 20px;

}

/* Contenedor del botón */

.card>div {
  display: flex;
  justify-content: center;
  width: 100%;

}

/* Botón dentro de la card */

.boton-card {
  width: 97px;
  height: 40px;
  background-color: rgba(245, 141, 214, 0.5);
  font-size: 14px;
  color: black;
  border: rgba(118, 118, 118, 1);
  border-radius: 8px;
  cursor: pointer;

}

.boton-card:hover {
  background-color: rgba(245, 141, 214);

}

/* Aseguro que el body ocupe toda la altura disponible */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;

}

/* El contenido principal (sin footer) debe ocupar el espacio restante */

main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}


/* Estilos para el footer */

footer {

  font-size: 14px;
  width: 100%;
  background-color: rgba(245, 141, 214, 0.5);
  color: rgba(8, 89, 163, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;

}

/* Aseguro que cada sección dentro del footer tenga el mismo estilo */

footer>div {
  width: 30%;
}

/* Estilo para los títulos de las secciones */

footer h3 {
  margin: 10px 0;
}

/* Estilos para los enlaces de redes sociales */

.redes-sociales a {
  margin: 0 10px;
  font-size: 24px;
  color: rgba(8, 89, 163, 1);
  text-decoration: none;
}

.redes-sociales a:hover {
  color: rgba(28, 133, 231, 0.7);
}

/* Estilos para el formulario de suscripción */

.suscribite form {
  display: flex;
  align-items: center;
  justify-content: center;

}

.suscribite input {

  padding: 8px;
  margin: 10px 5px;
  width: 300px;
  height: 25px;
  max-width: 200px;

}

.suscribite button {
  padding: 4px;
  background-color: rgba(8, 89, 163, 1);
  color: white;
  border: none;
  cursor: pointer;
  width: 70px;
  height: 25px;
}

.suscribite button:hover {
  background-color: rgba(28, 133, 231, 0.7);
}

/* Estilo para el ícono de WhatsApp */

.tel a {
  font-size: 80px;
  color: rgba(81, 185, 25, 1);
  text-decoration: none;
}

.tel a:hover {
  color: rgba(38, 105, 2, 0.842);
}

.form-container {
  width: 688px;
  height: auto;
  background-color: rgba(245, 245, 245, 1);
  border: 1px solid rgba(217, 217, 217, 0.7);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;

}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container input[type="number"],
.form-container textarea {
  width: 100%;
  max-width: 610px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  resize: none
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.submit-container input[type="submit"] {
  width: 272px;
  height: 40px;
  padding: 10px;
  background-color: rgba(245, 141, 214, 0.5);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


/* Media query para pantallas pequeñas (celulares) */

@media (max-width: 768px) {

  /* Ajustes generales */
  main {
    margin-top: 80px;
    padding-bottom: 80px;
  }


  /* Ajuste del carrusel */
  .carousel-inner img {
    padding-top: 30px;
  }

  /* Ajustes del formulario en móvil */

  .form-container {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    margin: 20px 0;
    
  }

  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="tel"],
  .form-container input[type="number"],
  .form-container textarea {
    width: 100%;
    max-width: 100%;
  }
  .titulo-card{
  text-align: center;
  font-weight: 500 ;
  font-size: 16px;
}
.lista-card{
  text-align: left;
  font-size: 14px;
}

  .submit-container input[type="submit"] {
    width: 90px;
    max-width: 100%;
  }

  

  /* Ajustes del menú y logo */
  .desktop-nav {
    display: none;
    /* Esconde el menú de escritorio */
  }

  .mobile-nav {
    display: block;
    /* Muestra el menú hamburguesa */
  }

  .logo-container {
    width: 100%;
    justify-content: left;
  }

  /* Ajuste de la barra de navegación en móvil */


  nav ul.nav-links li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  nav ul.nav-links li a {
    padding: 10px 15px;
    font-size: 18px;
  }


  /* Ocultar todos los elementos del footer excepto el icono de WhatsApp */
  .enlaces-utiles,
  .redes-sociales,
  .suscribite {
    display: none;
  }

  /* Estilo general para el footer fijo */
  .tel {
    position: fixed;
    bottom: 10px;
    /* Separación desde el borde inferior */
    right: 10px;
    /* Separación desde el borde derecho */
    z-index: 100;
    /* Asegura que esté encima de otros elementos */
  }

  .tel a {
    font-size: 50px;
    color: rgba(81, 185, 25, 1);
  }

  /* Ajuste para evitar superposición con el footer */
  @media (max-width: 768px) {
    

  }

  /* Ajuste específico para WhatsApp */
  .tel {
    position: fixed;
    bottom: 10px;
    right: 10px;

  }

  .tel a {
    font-size: 50px;
    color: rgba(81, 185, 25, 1);
    ;

  }

}

/* Responsividad para móviles */
@media screen and (max-width: 768px) {

  header {
    background-color: transparent;
    /* Elimina el fondo amarillo */
    padding: 0;
    /* Elimina el padding */
  }


  .card {
    width: 100%;
    max-width: 100%;
    padding: 10px;
  }

  .boton-card {
    width: 90px;
    height: 40px;
    font-size: 12px;
  }
}

/* Estilos solo para móviles */
@media (max-width: 768px) {
  main {
    display: block;
    /* Esto hace que el flujo de los elementos sea vertical */
    padding: 16px;
    text-align: left;
    /* Centra el contenido */
  }

  .Titulo-principal {
    font-size: 24px;
    color: #000;
    width: 300px;
    margin: 40px;
    position: absolute;
    top: 180px;
    
  }

  .texto-home {
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    width: 300px;
    margin: 20px;
    position: absolute;
    top: 250px;
  }

  .mi-imagen {
    display: block;
    width: 90%;
    max-width: width 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 80px;
    position: absolute;
    top: 380px;
    align-items: center;
    
  }

  .mi-boton {
    display: block;
    font-size: 14px;
    background-color: rgba(240, 248, 18, 1);
    color: black;
    border-radius: 20px;
    width: auto;
    height: 50px;
    position: absolute;
    top: 600px;

  }

  .navbar-brand {
    margin: 0;
  }

  .logo {
    max-height: 100px;
    /* Ajusta el tamaño del logo */
    width: auto;
    background-color: transparent;
    padding: 0%;
    margin: 0%;
  }

  .container-fluid {
    width: 100%;
    /* Asegura que el contenedor ocupe todo el ancho disponible */
    max-width: 768px;
    /* Define un ancho máximo uniforme */
    margin: 0;
    /* Centra el contenedor */
    padding: 0;
  }



}