@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
.footer {
  background-color: rgba(245, 141, 214, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  overflow-x: hidden;
  background-color: white;
}

* {
  font-family: "Lora", serif;
  color: #3a3a3a;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

h2 {
  font-size: 35px;
  text-align: center;
  margin: 40px;
  margin-top: 100px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 25px;
  margin-left: 50px;
  margin-bottom: 50px;
}

p {
  font-size: 20px;
  margin: 50px;
  text-align: center;
}

a {
  color: #3a3a3a;
  text-decoration: none;
  font-size: 18px;
}

/* El contenido principal (sin footer) debe ocupar el espacio restante */
main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.footer {
  background-color: rgba(245, 141, 214, 0.5);
}

.Titulo-principal,
.texto-home,
.mi-boton {
  position: absolute;
}

.Titulo-principal,
.texto-home {
  color: white;
}

.Titulo-principal {
  top: 300px;
  margin-left: 80px;
}

.texto-home {
  top: 400px;
  text-align: center;
  font-size: 30px;
  width: 400px;
  margin-left: 92px;
}

.mi-imagen {
  width: 100%;
  height: auto;
}

header {
  background-color: rgba(240, 248, 18, 0.7);
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  /* Logo Container */
  /* Menú de navegación */
}
header .logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
header nav ul.nav-links {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
header nav ul.nav-links li {
  margin-left: 30px;
  margin-top: 150px;
  list-style: none;
}
header nav ul.nav-links li a {
  padding: 10px 15px;
}
header nav ul.nav-links li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
  /* Estilos para los enlaces de redes sociales */
  /* Icono de WhatsApp */
  /* Formulario de suscripción */
}
footer > div {
  width: 30%;
}
footer h3 {
  margin: 10px 0;
}
footer .redes-sociales a {
  margin: 0 10px;
  font-size: 24px !important;
  color: rgb(8, 89, 163);
  text-decoration: none;
}
footer .redes-sociales a:hover {
  color: rgba(28, 133, 231, 0.7);
}
footer .tel a {
  font-size: 80px !important;
  color: rgb(81, 185, 25);
}
footer .tel a:hover {
  color: rgba(38, 105, 2, 0.842);
}
footer .suscribite form {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .suscribite input {
  padding: 8px;
  margin: 10px 5px;
  width: 300px;
  height: 25px;
  max-width: 200px;
}

.suscribite button {
  padding: 4px;
  background-color: rgb(8, 89, 163);
  color: white;
  border: none;
  cursor: pointer;
  width: 70px;
  height: 25px;
}
.suscribite button:hover {
  background-color: rgba(28, 133, 231, 0.7);
}

.mi-boton {
  background-color: #f0f812;
  border-color: #f0f812;
  font-size: 24px;
  border-radius: 20px;
  height: 60px;
  width: 260px;
  margin-left: 150px;
  top: 750px;
}
.mi-boton:hover {
  background-color: #b0b608;
}

.contenedor-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.contenedor-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 15px 15px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Estilo común para texto dentro de las cards */
}
.contenedor-cards .card .titulo-card,
.contenedor-cards .card .lista-card {
  margin: 15px 15px 30px;
}
.contenedor-cards .card .titulo-card {
  font-size: 24px;
  text-align: center;
}
.contenedor-cards .card .lista-card {
  font-size: 16px;
}
.contenedor-cards .card > div {
  display: flex;
  justify-content: center;
}
.contenedor-cards .card .boton-card {
  width: 97px;
  height: 40px;
  background-color: rgba(245, 141, 214, 0.5);
  font-size: 14px;
  border: 1px solid #777;
  border-radius: 8px;
  cursor: pointer;
}
.contenedor-cards .card .boton-card:hover {
  background-color: rgb(245, 141, 214);
}

/* Centrar solo el formulario */
.centro-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-container {
  width: 688px;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgba(217, 217, 217, 0.7);
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin: 20px 0 50px;
}

/* Estilos comunes para inputs y textarea */
.form-container input,
.form-container textarea {
  width: 100%;
  max-width: 610px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

.form-container textarea {
  resize: none;
}

/* Contenedor de envío */
.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

/* Botón de envío */
.submit-container input[type=submit] {
  width: 272px;
  height: 40px;
  padding: 10px;
  background-color: rgba(245, 141, 214, 0.5);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Mostrar barra de navegación estándar en escritorio */
.desktop-nav {
  display: flex;
}

/* Menú de navegación móvil */
.mobile-nav {
  display: none;
}

/*# sourceMappingURL=estilo.css.map */
