/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    /* Esconde el menú de escritorio y muestra el menú hamburguesa */
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    /* Ocultar ciertos elementos del footer */
    .enlaces-utiles,
    .suscribite {
        display: none;
    }

    /* Ajustes para el flujo de contenido principal */
    main {
        display: block;
        padding: 16px;
        text-align: left;
    }

    .Titulo-principal,
    .texto-home {
        color: #000;
        font-size: 24px;
        width: 300px;
    }

    .mi-boton {
        font-size: 14px;
        border-radius: 20px;
    }

    .logo {
        height: 100px; 
        max-height: 100px; 
    }

    .container-fluid {
        width: 90%; 
        margin: 0;
        padding: 0;
    }
}


