/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {

    /* Esconde el menú de escritorio y muestra el menú hamburguesa */
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    /* Ocultar ciertos elementos del footer */
    .enlaces-utiles,
    .suscribite {
        display: none;
    }

    /* Ajustes para el flujo de contenido principal */
    main {
        display: block;
        padding: 0%;
        position: relative;
        min-height: calc(100vh - 100px);

    }

    .Titulo-principal,
    .texto-home,
    .mi-imagen {
        color: #000;
        position: absolute;
    }


    .Titulo-principal {
        top: 30px;
        font-size: 30px;
    }

    .texto-home {
        top: 300px;
        font-size: 18px;
        text-align: center;
    }

    .mi-boton {
        font-size: 14px;
        border-radius: 20px;
        top: 850px;
    }

    .mi-imagen {
        top: 460px;
    }

    .logo {
        height: 100px;
        max-height: 100px;
    }

    .container-fluid {
        width: 90%;
        margin: 0;
        padding: 0;
    }
}