footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;

  > div {
    width: 30%;
  }

  h3 {
    margin: 10px 0;
  }

  /* Estilos para los enlaces de redes sociales */
  .redes-sociales a {
    margin: 0 10px;
    font-size: 24px !important;  // Asegura que el tamaño se aplique correctamente
    color: rgba(8, 89, 163, 1);
    text-decoration: none;

    &:hover {
      color: rgba(28, 133, 231, 0.7);
    }
  }

  /* Icono de WhatsApp */
  .tel a {
    font-size: 80px !important;  // Asegura que el tamaño se aplique correctamente
    color: rgba(81, 185, 25, 1);

    &:hover {
      color: rgba(38, 105, 2, 0.842);
    }
  }

  /* Formulario de suscripción */
  .suscribite {
    form {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input {
      padding: 8px;
      margin: 10px 5px;
      width: 300px;
      height: 25px;
      max-width: 200px;
    }
  }
}
