.Titulo-principal,
.texto-home,
.mi-boton {
    position: absolute;
}

.Titulo-principal,
.texto-home {
    color: white;
}

.Titulo-principal {
    top: 150px;
    margin-left: 85px;
   
}

.texto-home {
    top: 450px;
    text-align: center;
    font-size: 30px;
    width: 400px;
    margin-left: 70px;
}

.mi-imagen {
    width: 100%;
    height: auto;
   
}